<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1, h3{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>TODO RestApi</h1>
    <h3>API Overview : /api</h3>
    <h3>Task List : /api/task-list/</h3>
    <h3>Task detail : /api/task-detail/id/</h3>
    <h3>To create : /api/task-create/</h3>
    <h3>To update : /api/task-update/id/</h3>
    <h3>To delete : /api/task-update/id/</h3>
    
</body>
</html>